    * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
    
    
    .btn {
    position: absolute;
    top: 0;
    padding: 0;
    width: 85px;
    background:green;
    color: gold;
    font-size: medium;
    outline:none;
    cursor:pointer;
    height:10vh;
    border-radius: 20px;
    }
    .btn:hover{
    color:white;
    background: dodgerblue;
    }
    
    
    .main-editor {
    background: white;
    display: flex;
    width: 100%;
    padding: 1px;
    box-shadow:0 2px 3px black;
    position:absolute;
    height:100vh;
    justify-content: center;
    align-items: center;
    border: 1px solid #36383f;
    }
    
    .first {
    background-color: #ffffff;
    width: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre;
    box-shadow: 0 1px 1px rgb(22, 22, 22);
    outline: none;
    padding: 0.4rem;
    height: 90vh;
    }
    
    .second {
    background-color: rgb(255, 255, 255);
    width: 50%;
    overflow-y: auto;
    white-space: pre;
    right: 0;
    box-shadow: 0 1px 1px rgb(22, 22, 22);
    padding: 0.4rem;
    height: 90vh;
    }